

.logos img {
   /* margin: 10px; */
   width: 100%;
   max-width: 200px;
   margin-top: 0;
   /* min-width: 100px */
}

#logoimperial{
    max-width: 60px;
}

.header {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}


#jogadores{
    width: 100%;
    max-width: 800px;
}

.logos{
 display: flex;
 justify-content: space-between;
 align-items: center;
 max-width: 800px;
 width: 100%;
 flex-wrap:wrap
}