.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.inputCodigo {
    border-radius: 6.5em;
    background-color: rgb(26, 33, 42);
    width: 100%;
    color: #ffffff;
    line-height: 2.5em;
    padding-top: 0px;
    padding-right: 1.25em;
    padding-bottom: 0px;
    padding-left: 1.25em;
    transition: border-color .9s ease 0s, border-radius .1s ease-in-out;
    border: 1.2px solid #353c44;
    appearance: none;
    text-transform: uppercase
}

.inputCodigo:focus{
    border: 1.2px solid #14ca4f;
    outline: auto 0;
}

.form{
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.conteiner {
    display: flex;
    padding: 0 20px 20px 20px;
    flex-direction: column;
    align-items: center;
}
#jogadores{
    width: 100%;
    max-width: 800px;
}




